body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  text-align: center;
}

nav {
  background-color: #eee;
  padding: 15px;
}

nav a {
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 0 5px;
  color: black;
  background: #f5f5f5;
}

.canvas {
  margin-top: 50px;
}

.button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 2px solid black;
  cursor: pointer;
}

/* Individual Colors */

#grey {
  background-color: grey;
}

#white {
  background-color: white;
  border: 2px solid black;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
